<header class='site_header logo-in-menu' data-menu-after="3">
	<div class="header_box">
		<div class="container">
			<!-- menu -->
			<div class="header_nav_part">
				<nav class="main-nav-container a-center">
					<div class="mobile_menu_header">
						<i class="mobile_menu_switcher"><span></span><span></span><span></span></i>
					</div>
					<ul id="menu-main-menu" class="main-menu menu-bees">
						<li class="menu-item current-menu-item bees-start">
							<a href="/">
								<div class="bees bees-start"><span></span>
									<div class="line-one"></div>
									<div class="line-two"></div>
								</div>Головна
								<div class="canvas_wrapper">
									<canvas class="menu_dashed"></canvas>
								</div>
							</a>
							<span class='button_open'></span>
						</li>
						<li class="menu-item right"><a href="/docs">Документи<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
							<span class='button_open'></span>
						</li>
						<li class="menu-item right"><a href="/project">Проект<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
							<span class='button_open'></span>
						</li>
						<li class="menu-item right"><a target="_blank"
																					 href="https://docs.google.com/spreadsheets/d/1P63IhxBnIoHceN-Ry5hWMYBXIG3KE8JKk4-8c7VgY4o/edit">Звіт<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
							<span class='button_open'></span>
						</li>
						<li class="menu-item right"><a target="_blank"
																					 href="https://drive.google.com/drive/u/0/folders/0BzLcLTDpwz18MDFRUEpPdEJTam8">Кошторис<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
							<span class='button_open'></span>
						</li>
						<li class="menu-item right bees-end">
							<a href="/contacts">
								<div class="bees bees-end"><span></span>
									<div class="line-one"></div>
									<div class="line-two"></div>
								</div>Контакти
								<div class="canvas_wrapper">
									<canvas class="menu_dashed"></canvas>
								</div>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- / menu -->
		</div>
	</div>
</header>
