<header class='site_header logo-in-menu' data-menu-after="3">
	<div class="header_box">
		<div class="container">
			<!-- menu -->
			<div class="header_nav_part">
				<nav class="main-nav-container a-center">
					<div class="mobile_menu_header">
						<i class="mobile_menu_switcher"><span></span><span></span><span></span></i>
					</div>
					<ul id="menu-main-menu" class="main-menu menu-bees">
						<!-- menu item -->
						<li class="menu-item current-menu-item page_item current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children bees-start">
							<a href="/">
								<div class="bees bees-start"><span></span>
									<div class="line-one"></div>
									<div class="line-two"></div>
								</div>Головна
								<div class="canvas_wrapper">
									<canvas class="menu_dashed"></canvas>
								</div>
							</a>
							<span class='button_open'></span>
						</li>
						<!-- / menu item -->
						<!-- menu item -->
						<li class="menu-item menu-item-has-children"><a href="/docs">Документи<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
							<span class='button_open'></span>
						</li>
						<!-- / menu item -->
						<!-- menu item -->
						<li class="menu-item menu-item-has-children right"><a href="portfolio-four-columns.html">Проект<div class="canvas_wrapper"><canvas class="menu_dashed"></canvas></div></a>
							<span class='button_open'></span>
						</li>
						<!-- / menu item -->
						<!-- menu item -->
						<!-- / menu item -->
						<!-- menu item -->
						<li class="menu-item right bees-end">
							<a href="contact-us.html">
								<div class="bees bees-end"><span></span>
									<div class="line-one"></div>
									<div class="line-two"></div>
								</div>Контакти
								<div class="canvas_wrapper">
									<canvas class="menu_dashed"></canvas>
								</div>
							</a>
						</li>
						<!-- / menu item -->
					</ul>
				</nav>
			</div>
			<!-- / menu -->
		</div>
	</div>
</header>
