<div id="main" class="site-main">
	<div class="page_content">
		<!-- pattern container / -->
		<div class="left-pattern pattern pattern-2" style="width: 35px;"></div>
		<!-- main content -->
		<main>
			<!-- map -->
			<div class="grid_row clearfix" style="padding-top: 0px;padding-bottom: 0px;">
				<div class="grid_col grid_col_12">
					<div class="ce clearfix">
						<h3 class="ce_title">Адреса центру</h3>
						<div class="map-border">
							<div class="google-map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.0888948799193!2d26.22555461521258!3d50.644040181278584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f6b6654b8dec5%3A0x67e612ebfe9b745c!2z0LLRg9C70LjRhtGPINCc0LvQuNC90ZbQstGB0YzQutCwLCAxNSwg0KDRltCy0L3QtSwg0KDRltCy0L3QtdC90YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sua!4v1489337868872" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			<!-- / map -->
			<div class="grid_row clearfix">
				<!-- contact detail -->
				<div class="grid_col grid_col_6">
					<div class="ce clearfix">
						<div>
							<div class="cws_fa_tbl">
								<div class="cws_fa_tbl_row">
									<div class="cws_fa_tbl_cell size_1x">
										<div class="cws_fa_wrapper"><i class="cws_fa fa fa-1x fa-location-arrow"></i><span class="ring"></span></div>
									</div>
									<div class="cws_fa_tbl_cell">
										<h2>Адреса:</h2></div>
								</div>
								<div class="cws_fa_tbl_row">
									<div class="cws_fa_tbl_cell"></div>
									<div class="cws_fa_tbl_cell">
										<p>м. Рівне, вул. Млинівська 15

											<br>
										</p></div>
								</div>
							</div>
							<div class="cws_fa_tbl">
								<div class="cws_fa_tbl_row">
									<div class="cws_fa_tbl_cell size_1x">
										<div class="cws_fa_wrapper"><i class="cws_fa fa fa-1x fa-phone"></i><span class="ring"></span></div>
									</div>
									<div class="cws_fa_tbl_cell">
										<h2>Координатор соціального проекту: </h2></div>
								</div>
								<div class="cws_fa_tbl_row">
									<div class="cws_fa_tbl_cell"></div>
									<div class="cws_fa_tbl_cell">
										<p><a href="tel:38-068-022-0702">Олена Загиней (068) 022 07 02</a>
											<br>
										</p></div>
								</div>
							</div>
							<div class="cws_fa_tbl">
								<div class="cws_fa_tbl_row">
									<div class="cws_fa_tbl_cell size_1x">
										<div class="cws_fa_wrapper"><i class="cws_fa fa fa-1x fa-envelope"></i><span class="ring"></span></div>
									</div>
									<div class="cws_fa_tbl_cell">
										<h2>Соціальні мережі:</h2></div>
								</div>
								<div class="cws_fa_tbl_row">
									<div class="cws_fa_tbl_cell"></div>
									<div class="cws_fa_tbl_cell">
										<p>
											<a href="https://www.facebook.com/babysun.rivne/">https://www.facebook.com/babysun.rivne</a>
											<br>
											<a href="https://vk.com/babysun.rivne">https://vk.com/babysun.rivne</a>
											<br>
										</p></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- / contact detail -->
				<!-- contact form -->
				<!-- / conatct form -->
			</div>
		</main>
		<!-- / main content -->
		<!-- patter container / -->
		<div class="right-pattern pattern pattern-2" style="width: 35px;"></div>
		<!-- footer image container / -->
		<div class="footer_image"></div>
	</div>
	<!-- svg filter -->
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" style="display:none;">
		<defs>
			<filter id="goo">
				<feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur"></feGaussianBlur>
				<feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"></feColorMatrix>
				<feComposite in="SourceGraphic" in2="goo" operator="atop"></feComposite>
			</filter>
		</defs>
	</svg>
	<!-- / svg filter -->
</div>