<div id="main" class="site-main"> 
	<div class="page_content">
		<main>
			<div class="grid_row clearfix">
				<div class="grid_col grid_col_12">
					<div class="ce clearfix">
						<h3 class="ce_title a-center" style="text-align: center;">Документи</h3>
					</div>
				</div>
			</div>
			<div class="grid_row clearfix">
				<section class="cws_ourteam">
					<div class="cws_wrapper">
						<div class="cws_ourteam_items grid grid-4 isotope" style="position: relative; overflow: hidden; height: 858px;">
							<!-- team item -->
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="/pic/documents/vypiska.png" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a target="_blank" href="/pic/documents/Виписка.PDF" class="fancy"><i class="fa fa-search-plus"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- / team item -->
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="/pic/documents/protokol_1-16_obrannya_golovy.png" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a target="_blank" href="/pic/documents/Протокол 1-16  обрання голови.pdf" class="fancy"><i class="fa fa-search-plus"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="/pic/documents/protokol_1-2017.png" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a target="_blank" href="/pic/documents/Протокол 1-2017.pdf" class="fancy"><i class="fa fa-search-plus"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="/pic/documents/rishennya_pro_neprebutkovist.png" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a target="_blank" href="/pic/documents/рішення неприбутковість.pdf" class="fancy"><i class="fa fa-search-plus"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="/pic/documents/statystika.png" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a target="_blank" href="/pic/documents/Статистика.pdf" class="fancy"><i class="fa fa-search-plus"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="/pic/documents/statut.png" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a target="_blank" href="/pic/documents/Статут.PDF" class="fancy"><i class="fa fa-search-plus"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
					<input type="hidden" class="cws_ourteam_ajax_data" value="{&quot;p_id&quot;:1904,&quot;mode&quot;:&quot;grid&quot;,&quot;cats&quot;:[],&quot;filter&quot;:&quot;all&quot;,&quot;posts_per_page&quot;:&quot;10&quot;}">
				</section>
			</div>
		</main>
	</div>
</div>
