<div id="main" class="site-main">
	<div class="page_content">
		<main>
			<div class="grid_row clearfix">
				<div class="grid_col grid_col_12">
					<div class="ce clearfix">
						<h3 class="ce_title a-center" style="text-align: center;">Документи</h3>
					</div>
				</div>
			</div>
			<div class="grid_row clearfix">
				<section class="cws_ourteam">
					<div class="cws_wrapper">
						<div class="cws_ourteam_items grid grid-4 isotope" style="position: relative; overflow: hidden; height: 858px;">
							<!-- team item -->
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="https://dl.dropbox.com/s/1tznc7ngoq4n5c1/1.jpg" data-at2x="pic/bfi_thumb/248x248-25371189-304vr7zwp6u09vyb1qkah6@2x.jpg" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a href="https://dl.dropbox.com/s/1tznc7ngoq4n5c1/1.jpg" class="fancy"><i class="fa fa-camera"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- / team item -->
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="https://dl.dropbox.com/s/me1pq3gumgi3yuh/2.jpg" data-at2x="https://dl.dropbox.com/s/me1pq3gumgi3yuh/2.jpg" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a href="https://dl.dropbox.com/s/me1pq3gumgi3yuh/2.jpg" class="fancy"><i class="fa fa-camera"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="https://dl.dropbox.com/s/b2cp1qixir4b58q/3.jpg" data-at2x="https://dl.dropbox.com/s/b2cp1qixir4b58q/3.jpg" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a href="https://dl.dropbox.com/s/b2cp1qixir4b58q/3.jpg" class="fancy"><i class="fa fa-camera"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="https://dl.dropbox.com/s/q8xqnb1gkldxgsy/4.jpg" data-at2x="https://dl.dropbox.com/s/q8xqnb1gkldxgsy/4.jpg" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a href="https://dl.dropbox.com/s/q8xqnb1gkldxgsy/4.jpg" class="fancy"><i class="fa fa-camera"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="https://dl.dropbox.com/s/34rxs200vje0r9b/5.jpg" data-at2x="https://dl.dropbox.com/s/34rxs200vje0r9b/5.jpg" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a href="https://dl.dropbox.com/s/34rxs200vje0r9b/5.jpg" class="fancy"><i class="fa fa-camera"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="https://dl.dropbox.com/s/oxz8luhjibt1kh4/6.jpg" data-at2x="https://dl.dropbox.com/s/oxz8luhjibt1kh4/6.jpg" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a href="https://dl.dropbox.com/s/oxz8luhjibt1kh4/6.jpg" class="fancy"><i class="fa fa-camera"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="item isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(900px, 0px, 0px);">
								<div class="ourteam_item_wrapper">
									<div class="media_part">
										<div class="pic"><img src="https://dl.dropbox.com/s/d1vqd61or2tqpqt/7.jpg" data-at2x="https://dl.dropbox.com/s/d1vqd61or2tqpqt/7.jpg" alt="" width="248" height="248">
											<div class="hover-effect"></div>
											<div class="links_popup">
												<div class="link_cont">
													<div class="link"><a href="https://dl.dropbox.com/s/d1vqd61or2tqpqt/7.jpg" class="fancy"><i class="fa fa-camera"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>

						</div>
					</div>
					<input type="hidden" class="cws_ourteam_ajax_data" value="{&quot;p_id&quot;:1904,&quot;mode&quot;:&quot;grid&quot;,&quot;cats&quot;:[],&quot;filter&quot;:&quot;all&quot;,&quot;posts_per_page&quot;:&quot;10&quot;}">
				</section>
			</div>
		</main>
	</div>
</div>
