<div id="main" class="site-main">
		<div class="page_content">
			<!-- pattern container / -->
			<div class='left-pattern pattern pattern-2'></div>
			<!-- main content -->
			<main>
				<!-- / section image float -->
				<div class='grid_row clearfix'>
					<div class='grid_col grid_col_12'>
						<!-- text section -->
						<div class='ce clearfix'>
							<div>
								<h1 class="main-page-header">Навчальний центр профорієнтації для дітей із синдромом Дауна</h1>
								<p>
									Мета даного проекту - це відкрити школу профорієнтації для дітей із синдромом Дауна для того, щоб в них було повноцінне життя та вони змогли знайти роботу в
									майбутньому. Навчальний центр буде направлений на реабілітацію, адаптацію та соціалізацію особливих дітей. Також батькам буде надана інформаційна підтримка, де
									вони дізнаються про права і можливості їх дитини. В багатьох країнах світу люди з синдромом Дауна дружать, спілкуються, працюють та створюють сім’ї.
								</p>
							</div>
						</div>
						<!-- / text section -->
						<!-- accordion -->
						<div class='ce clearfix'>
							<div class='cws_ce_content ce_toggle'>
								<div class='accordion_section'>
									<div class='accordion_title'><i class='accordion_icon'></i><span>Навчальний центр профорієнтації: що це таке і для кого він створюється</span></div>
									<div class='accordion_content' style='display:none;'>
										<p>
											На сьогоднішній день діти із синдромом Дауна навідують різні школи для особливих дітей, але, нажаль, вони не отримують тих практичних навиків, які б допомогли
											їм у майбутньому знайти роботу, бути більш соціалізованими та відчувати себе повноцінною людиною. Цим дітям потрібен навчальний центр профорієнтації, де
											маленькі змогли би займатися щоденно із вчителями реабілітологами та іншими спеціалістами, вже більш старші змогли би навчитися потрібним професіям: прибирати, 
											готувати і багато іншого. Навчальний центр професійної орієнтації допоможе дітям вести самостійний спосіб життя.
										</p>
									</div>
								</div>
								<div class='accordion_section'>
									<div class='accordion_title'><i class='accordion_icon'></i><span>Синдром Дауна – що це?</span></div>
									<div class='accordion_content' style='display:none;'>
										<p>
											Кожного року в Україні народжується близько 500 дітей із синдромом Дауна. Таких малюків ще називають сонячними. Синдром Дауна – це одна із форм геномної патології, при
											якій людина має 47 хромосом, замість 46. Оскільки вони мають у 21 парі надлишкову третю хромосому. У цих дітей особлива зовнішність. А саме, пласке обличчя,
											косий розріз та підняті куточки очей. Ці діти народжуються у батьків, які мають нормальний набір хромосом. Воно не залежить від способу життя батьків, стану
											їхнього здоров'я, шкідливих звичок, харчування, статку, освіти, кольору шкіри, національності.
										</p>
									</div>
								</div>
								<div class='accordion_section'>
									<div class='accordion_title'><i class='accordion_icon'></i><span>Школа "Babysun", яка вона?</span></div>
									<div class='accordion_content' style='display:none;'>
										<p>
											Навчальний центр професійної орієнтації буде мати декілька кімнат, які будуть облаштовані спеціальним обладнанням де діти зможуть розвиватися та навчатися.
											Будуть кімнати, де вони зможуть розвиватися фізично, малювати, грати, танцювати, вивчати письмо, читання, руханку. Особливість даної школи, навчання
											за наступними напрямками:
										<ul class="checkmarks_style">
											<li>
												Робота в офісі. На ресепшині діти навчаються зустрічати гостей. Також їх навчають користуватися таким приладдям, як ламінатор, принтер, ноутбук,
												брошурувальною машиною, різаком та іншою офісною технікою.
											</li>
											<li>Робота в кафе. Тут діти будуть навчатися приймати та обслуговувати гостей, сервірувати стіл, приймати замовлення.</li>
											<li>Кухня. Вони зможуть навчитися мити та витирати посуд, готувати різні страви, та використовувати такі приладдя, як блендер, міксер, кавоварка та інші.</li>
											<li>Побутово-господарські роботи. Учні зможуть навчитися використовувати пральну машину, пилосос, сушарку. Також є вітрина магазина, де учні навчаються
												виставляти та класифікувати товар.
											</li>
										</ul>
										</p>
									</div>
								</div>
								<div class='accordion_section'>
									<div class='accordion_title'><i class='accordion_icon'></i><span>Чому це важливо для дітей, батьків та суспільства?</span></div>
									<div class='accordion_content' style='display:none;'>
										<p>
											Завдяки цьому центру діти із синдромом Дауна зможуть бути самостійними та незалежними в житті. 
										</p>
										<p>	У цьому центрі діти зможуть отримати практичні знання, які будуть використовувати у майбутньому. Навчатися в такій школі вони зможуть вже з 2 місяців і до 14 років. 
										        Цей центр допоможе створити позитивне відношення до
											дітей з особливими потребами в сучасному українському суспільстві. Батьки зможуть отримувати інформаційну та психологічну підтримку.
										</p>	
										<p>	Навчальний центр профорієнтації надає дітям із синдромом Дауна усі навички, які у майбутньому допоможуть знайти їм роботу, насолоджуватись повноцінним життям.
											Зараз особливі діти займаються у центрі, який знаходиться при церкві. Маленьке приміщення, яке не облаштоване для цих особливих дітей. Батьки та вчителі самостійно 
											створили
											 всі можливі умови для навчання та адаптації. Але маленького приміщення на більш ніж 80 дітей недостатньо. І
											тому їм необхідна ваша підтримка.
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- / accordion -->
					</div>
				</div>


				<div class="grid_row clearfix" style="padding-top: 0px;padding-bottom: 0px;">
					<div style="max-width: 500px;margin: 0 auto;" class="cws_msg_box info-box clearfix">
						<div class="icon_section"><i class="fa fa-info"></i></div>
						<div class="content_section">
							<div style="font-size: 25px;" class="msg_box_title">До відкриття залишилось:</div>
							<div style="font-size: 25px" class="msg_box_text"><div class="countdown"></div></div>
						</div>
					</div>
				</div>



				<div class="grid_row clearfix">
					<div class="grid_col grid_col_12">
						<div class="ce clearfix">
							<div class="cws_callout">
								<div class="content_section">
									<div class="callout_title">
										<div class="bees bees-end"><span></span></div>
										Допоможіть цим дітям мати яскраве, щасливе, самостійне життя! Ви можете стати частиною нашої мрії! Давайте разом створимо майбутнє наших дітей! Підтримайте Всеукраїнський проект, будьте вкладом сьогодні у розвиток своїє держави!
									</div>
									<div class="separate"></div>
									<div class="callout_text">
										<p>
											Реквізити для благодійних внесків: "Приватбанк" 4149 6258 1086 6762 Майдан Володимир Антонович<br>
											Координатор соціального проекту: Олена Загиней (068) 022 07 02
										</p>
									</div>
									<div class="button_section"><a href="#" class="cws_button xlarge"> Станом на сьогодні зібрано 100 000 грн.<div class="button-shadow"></div></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- / main content -->
			<!-- pattern container -->
			<div class='right-pattern pattern pattern-2'></div>
			<!-- footer container image / -->
			<div class="footer_image"></div>
		</div>
		<!-- svg filter -->
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" style='display:none;'>
			<defs>
				<filter id="goo">
					<feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
					<feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
					<feComposite in="SourceGraphic" in2="goo" operator="atop" />
				</filter>
			</defs>
		</svg>
		<!-- / svg filter -->
	</div>
