<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Навчальний центр профорієнтації для дітей із синдромом Дауна "Baby sun"</title>
	<meta name="twitter:image" content="/img/share/sun.png">
	<meta name="twitter:title" content="Навчальний центр профорієнтації">
	<meta name="twitter:description" content="Навчальний центр профорієнтації для дітей із синдромом Дауна «Babysun»">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css' type='text/css' media='all'/>
	<link rel='stylesheet' href='css/jquery.fancybox.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/select2.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/animate.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/main.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/shop.css' type='text/css' media='all' />
	<link rel='stylesheet' href='css/fonts.css' type='text/css' media='all' />

</head>
<body class="page wide wave-style">
<div class="page">
	<!-- header container -->
	<div class='header_cont'>
		<div class='header_mask'>
			<div class='header_pattern'></div>
			<div class='header_img'></div>
		</div>
		{{> header}}
		<!-- #masthead -->
	</div>
	<!-- breadcrumbs -->
	<!--<section class='page_title wave'>-->
		<!--<div class='container'>-->
			<!--<div class='title'>-->
				<!--&lt;!&ndash;<h1>Full Width</h1>&ndash;&gt;-->
			<!--</div>-->
			<!--&lt;!&ndash; .breadcrumbs &ndash;&gt;-->
		<!--</div>-->
		<!--<canvas class='breadcrumbs' data-bg-color='#f8f2dc' data-line-color='#f9e8b2'></canvas>-->
	<!--</section>-->
	<!-- / breadcrumbs -->
	<!-- main container -->
	{{{body}}}
	<!-- #main -->
	<!-- footer -->
	<div class='footer_wrapper_copyright'>
		<!-- canvas -->
		<div class='half_sin_wrapper'>
			<canvas class='half_sin' data-bg-color='23,108,129' data-line-color='23,108,129'></canvas>
		</div>
		<!-- canvas / -->
		<!-- copyright -->
		<!-- / copyright -->
	</div>
</div>
<!-- #page -->

<script type='text/javascript' src='js/jquery.js'></script>
<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='js/retina_1.3.0.js'></script>
<script type='text/javascript' src='js/modernizr.js'></script>
<script type='text/javascript' src='js/owl.carousel.js'></script>
<script type='text/javascript' src='js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='js/jquery.fancybox.js'></script>
<script type='text/javascript' src='js/select2.min.js'></script>
<script type='text/javascript' src='js/wow.min.js'></script>
<script type='text/javascript' src='js/scripts.js'></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/locale/ru.js"></script>
<script type='text/javascript' src="js/timer.js"></script>

</body>
</html>
