<div id="main" class="site-main">
	<div class="page_content">
		<!-- pattern container / -->
		<div class="left-pattern pattern pattern-2" style="width: 35px;"></div>
		<!-- main content -->
		<main>
			<!-- map -->
			<div class="grid_row clearfix" style="padding-top: 0px;padding-bottom: 0px;">
				<div class="grid_col grid_col_12">
					<div class="ce clearfix">
						<h3 class="ce_title">Проект приміщення</h3>
							<img src="/pic/project/plan.jpg">
					</div>
				</div>
			</div>
		</main>
		<!-- / main content -->
		<!-- patter container / -->
		<div class="right-pattern pattern pattern-2" style="width: 35px;"></div>
		<!-- footer image container / -->
		<div class="footer_image"></div>
	</div>
	<!-- svg filter -->
	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" style="display:none;">
		<defs>
			<filter id="goo">
				<feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur"></feGaussianBlur>
				<feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"></feColorMatrix>
				<feComposite in="SourceGraphic" in2="goo" operator="atop"></feComposite>
			</filter>
		</defs>
	</svg>
	<!-- / svg filter -->
</div>